!!!
%html
  %head
    %title Likes Work!
    %link{:rel=>"shortcut icon",:href=>"../images/up.png  ",:type=>"image/x-icon"}
    = javascript_include_tag "application"
    = javascript_include_tag "jquery.min"
    = javascript_include_tag "validation"
    = javascript_include_tag "bootstrap", :media=>"all"
    = stylesheet_link_tag "bootstrap"
    = stylesheet_link_tag "applestyle_search"
    = csrf_meta_tag
  %body
  #fb-root
    :javascript
      (function(d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) return;
        js = d.createElement(s); js.id = id;
        js.src = "//connect.facebook.net/ru_RU/all.js#xfbml=1";
        fjs.parentNode.insertBefore(js, fjs);
      }(document, 'script', 'facebook-jssdk'));
  .container{:align=>'center',:position=>"absolute",:valign=>"center"}
    .row
      .span9
        = yield
      .span3{:style =>"width:200px;",:valing=>"top"} 
        Каждый студент желает знать Likes Work!
        %div{:style=>"margin-top:20px;"}
          %script{:src => "http://userapi.com/js/api/openapi.js?52", :type => "text/javascript"}
          :javascript
            VK.init({apiId: 3067813, onlyWidgets: true});
          / Put this div tag to the place, where the Like block will be
          #vk_like
          :javascript
            VK.Widgets.Like("vk_like", {type: "button"});
        %div{:style=>"width:200px;margin-top:20px;"}
          .fb-like-box{"data-header" => "true", "data-height" => "300", "data-href" => "http://likeswork.com", "data-show-faces" => "true", "data-stream" => "true", "data-width" => "180"}
  #content{:style=>"margin-top:150px;"}
  .top
    .right{:style=>"margin-right:10px;"}
      %a{:href=>"http://vk.com/withmyself"} (C) Denisa
      


